<div class="ct-typeorder">
    <span class="ct-name"><%= item.pizza.title %> (<%= size_desc.ua_name[item.size] %>)<img src="<%= item.pizza.icon %>"
                                                                                            class="ct-image"></span>
    <div class="ct-dimentions">
        <div class="diameter-icon"><%= item.pizza[item.size].size %></div>
        <div class="weight-icon"><%= item.pizza[item.size].weight %></div>
    </div>
    <div class="ct-buttons">
        <span class="ct-price"><%= item.pizza[item.size].price %>грн</span>
        <a id="dec-button" class="btn btn-danger glyphicon glyphicon-minus"></a>
        <span class="ct-amount"><%= item.quantity %></span>
        <a id="inc-button" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a id="rem-button" class="btn button-remove glyphicon glyphicon-remove"></a>
    </div>
</div>